<form action="/games/<%=game._id%>?_method=put" method='POST'>
    <label for="title">Title:</label>
    <input type="text" name='title' value= <%= game.title%>>

    <label for="description">Give a brief description:</label>
    <input type="text" name="description" value= <%= game.description%>>

    <label for="rating">What is the ERSB rating?</label>
    <input type="text" name="rating"value= <%= game.rating%>>

    <label for="rating">What would you rate this game out of 5?</label>
    <input type="number" name="userScores" min='0' max = '5' value= <%= game.userScores%>>

    <label for="img">Go grab an image url and paste it here:</label>
    <input type="text" name="img">
    
    <input type="submit">
    <a href="/games">Cancel</a>
</form>