<h1 class="title">Video Game Log</h1>
<a href="/games/new" class = 'button' id = 'newGame'>Add a new game</a>
<input type="text" id="myInput" onkeyup="searchGames()" placeholder="Search for games..">
<h3> Number of games: <span class = 'gameNum'><%=  games.length %></span> </h3>
<div class = 'gameContainer'>
    <% games.forEach(game => { %>
        <div class = 'gamePrev'>
            <div class="flexContainer">
                <p class = 'titleThumb'> <%= game.title %> </p>
            </div>
            <div class="flexContainer">
                <img src="<%= game.img%>" alt="<%= game.title %>" id = 'imgHome'>
            </div>
            <p> Number of reviews: <%= game.reviews.length %></p>
            <a href="/games/<%= game._id %>">More</a>
        </div>
    <% }) %>
</div>